/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-default;
    @include buttonLightenerHover($color-default, 10%);

  }
  
  .error {
    background-color: $color-error;
    @include buttonLightenerHover($color-error, 10%);
  }
  
  .info {
    background-color: $color-info;
    @include buttonLightenerHover($color-info, 10%);
  }
  
  .success {
    background-color: $color-success;
    @include buttonLightenerHover($color-success, 10%);
  }
  
  .warning {
    background-color: $color-warning;
    @include buttonLightenerHover($color-warning, 10%);
  }